body{
    background-color: black;
}
#heading{
    color:coral;
    width: 300px;
    margin: auto;
    font-size: 100px;
    font-family:'Corinthia', cursive;
}
.questions{
    color:chartreuse;
    font-family: 'Luxurious Script', cursive;
    font-size: 80px;
}
label{
    color:cyan;
    font-size: 60px;
}
input[type=radio] {
    height: 20px;
    width: 20px;
}
button{
    color: greenyellow;
    background-color: blue;
    font-size: 30px;
    height: 100px;
    border-radius: 40px;
    width:1000px;
    padding:30px;
    margin: 100px 50px;
}