<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{url_for('static', filename='CSS/style.css')}}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1 id="heading">Mocktest</h1>
        <form action="/result" method="post">
        <h1 id="first" class="questions">Capital of India ?</h1>
        <br>
        <input name="first" type="radio" value="Delhi" class="options">
        <label for="firstquestion">Delhi</label>
        <br>
        <br>
        <input name="first" type="radio" value="Maharashtra" class="options">
        <label for="firstquestion">Maharashtra</label>
        <br>
        <br>
        <input name="first" type="radio" value="Gujarat" class="options">
        <label for="firstquestion">Gujarat</label>
        <br>
        <br>
        <input name="first" type="radio" value="Jharkhand" class="options">
        <label for="firstquestion">Jharkhand</label>
        <br>
        <br>
        <br>
        <h1 id="Second" class="questions">When India was declared as a free country? </h1>
        <input name="Second" type="radio" value="1945" class="options">
        <label for="secondquestion">1945</label>
        <br>
        <br>
        <input name="Second" type="radio" value="1976" class="options">
        <label for="secondquestion">1976</label>
        <br>
        <br>
        <input name="Second" type="radio" value="1947" class="options">
        <label for="secondquestion">1947</label>
        <br>
        <br>
        <input name="Second" type="radio" value="1954" class="options">
        <label for="secondquestion">1954</label>
        <br>
        <br>
        <button type="submit" class="btn btn-primary btn-block btn-large"><strong>Submit</strong></button></a>
    </form>
</body>
</html>